<nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Date</p>
      <p class="title">{{$ctrl.date}}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Time</p>
      <p class="title">{{$ctrl.time}}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Price</p>
      <p class="title">{{$ctrl.price}} {{$ctrl.currency}}</p>
    </div>
  </div>
</nav>