<ol class="flightList">
  <li
    ng-repeat="flight in $ctrl.flightList | orderBy: 'price' track by $id(flight)"
    ng-if="$ctrl.flightList.length > 0"
    class="flightListElement"
    ng-class="{'lastFlightListItem':$last}"
  >
    <flight-list-item
      date="{{$ctrl.getDate(flight.dateFrom)}}"
      time="{{$ctrl.getTime(flight.dateFrom)}}"
      price="{{$ctrl.roundPrice(flight.price)}}"
      currency="{{flight.currency}}"
    >
    </flight-list-item>
  </li>
  <li 
    ng-if="$ctrl.flightList.length == 0"
    ng-style="{{$ctrl.styles.li}}"
  >
    <flight-list-empty-item>
    </flight-list-empty-item>
  </li>
</ol>

