$normalButtonColor: #ebbd10;
$hoverButtonColor: #f1c933;

$buttonBackground: $normalButtonColor;
$buttonBorder: $normalButtonColor;
$buttonText: #073590;
$buttonFontWeight: 600;
$buttonTransition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;

$hoverButtonBackground: $hoverButtonColor;
$hoverButtonBorder: $hoverButtonColor;

#buttonComponent {
  background-color: $buttonBackground;
  color: $buttonText;
  border-color: $buttonBorder;
  font-weight: $buttonFontWeight;
  transition: $buttonTransition;

  &:hover,
  &:active,
  &:focus {
    background-color: $hoverButtonBackground;
    border-color: $hoverButtonBorder;
  }
}