$normalButtonColor: #ebbd10;
$hoverButtonColor: #f1c933;
$disabledButtonColor: #edd378;
$buttonTextColor: #073590;

$buttonFontWeight: 600;
$buttonTransition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;

@mixin setBackgroundAndBorderColor($color) {
  background-color: $color;
  border-color: $color;
}

.button {
  @include setBackgroundAndBorderColor($normalButtonColor);
  color: $buttonTextColor;
  font-weight: $buttonFontWeight;
  transition: $buttonTransition;

  &:hover,
  &:active,
  &:focus {
    @include setBackgroundAndBorderColor($hoverButtonColor);
    color: $buttonTextColor;
  }

  &.is-disabled,
  &[disabled] {
    @include setBackgroundAndBorderColor($normalButtonColor);
    opacity: .5;
  }
}