<div class="level flightSelected">
  <level-item
    class="column is-3"
    heading="Date"
    title="{{$ctrl.date}}"
  >
  </level-item>
  <level-item
    class="column is-3"
    heading="Time"
    title="{{$ctrl.time}}"
  >
  </level-item>
  <level-item
    class="column is-3"
    heading="Price"
    title="{{$ctrl.price}} {{$ctrl.currency}}"
  >
  </level-item>
  <div class="control">
    <div class="column">
      <button-component
        class="column"
        classes="is-large"
        caption="Fly!"
        sref="home"
      >
      </button-component>
    </div>
  </div>
</div>