<div class="column is-6 is-offset-3 cheapFlightManager">
  <div class="control is-horizontal">
    <div class="control">
      <flight-date-selector
        class="column"
        date="$ctrl.startDate"
        on-change="$ctrl.changeStartDate($event);"
        label="Fly out:"
      >
      </flight-date-selector>
    </div>

    <div class="control">
      <flight-date-selector 
        class="column"
        date="$ctrl.endDate"
        on-change="$ctrl.changeEndDate($event);"
        label="Fly back:"
      >
      </flight-date-selector>
    </div>
  </div>
  
  <div class="control is-horizontal">
    <div class="control">
      <airport-selector 
        class="column"
        selectedAirport="$ctrl.outAirport"
        on-change="$ctrl.changeOutAirport($event);"
        label="Airport out:"
      >
      </airport-selector>
    </div>

    <div class="control">
      <airport-selector 
        class="column"
        selectedAirport="$ctrl.backAirport"
        on-change="$ctrl.changeBackAirport($event);"
        label="Airport back:"
      >
      </airport-selector>
    </div>
  </div>

  <div class="control">
    <div class="column">
      <button-component
        class="column"
        classes="is-large {{$ctrl.buttonLoadingClass}}"
        caption="Search"
        on-click="$ctrl.search();"
        is-disabled="$ctrl.isButtonDisabled"
      >
      </button-component>
    </div>
  </div>

  <div class="control">
    <div class="column">
      <flight-list flight-list="$ctrl.flightList" >
      </flight-list>
    </div>
  </div>
</div>
